*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.main{
  
    margin:0px 20%;
    border:2px solid rgb(243, 201, 122);
    background-color: rgb(248, 231, 210);
}

h1{
    font-size: 60px;
    color:salmon;
    background-color: rgb(243, 201, 122);
}

h1,
.rec-nav{
  text-align:center;
}

.recipe{
    display: inline-block;
    margin:20px;
}

.recipe a{
    text-decoration: none;
    color:salmon;
    font-size: 20px;
}

.recipe a img{
    display: block;
    
}

img{
    width:200px;
    height:auto;
}

.presentation{
    width:100%;
    height:auto;
}

.content{
    font-size:25px;
    margin-top:-35px;
}

h2{
    color:salmon;
    background-color: rgb(243, 201, 122);
    padding:15px;
    margin:30px 0;
    font-size:40px;
}

ol,
ul,
p {
    padding:0px 30px;

}

li::marker{
    color:salmon;
}
